@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;800&display=swap');

body {
  font-family: Newsreader, serif;
  margin: 0;
  padding: 0;
}

article {
  max-width: 500px;
  padding: 48px;
}

h1 {
  font-weight: 800;
  color: hsl(0, 0%, 10%);
}

p {
  color: hsl(0, 0%, 15%);
}

img {
  max-width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
